/node_modules
.DS_Store
/config/config.js
/config/MailConfig.js
/.idea
.app.js.swp
/public/libs/codemirror/.editorconfig
/public/libs/codemirror/.gitattributes
/public/libs/codemirror/.npmignor
/public/libs/codemirror/.travis.yml
*.swp
.package-lock.json