<div class="container-editor">
</div>

  <div class="col-12 editor ">
    <textarea autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control editor codemirror-textarea" id="EditorArea">{{page.content}}</textarea>
  </div>
<!--linedtextarea-->