.editor {
  height: 100em;
  width: 100%;
  float: right;
}

.container-editor {
  border-top: 2px solid #3B8686;
  padding:0px;
}

textarea.editor {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
